*{
    padding:0;
    margin:0;
    background-color: black;
    color:white;
}
.main{
    max-width:100%;
    height:600px;
}
.login{
    width:500px;
    height:600px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

h3 {
    margin-bottom: 10px; 
}

input, button {
    padding: 10px;
    font-size: 16px;
}
button{
    border:none;
    color:white;
    background-color: #BC1EE3;
}
button:hover{
    background-color:#1E33E3;
    cursor: pointer;
}
input{
    background-color: aliceblue;
    border:none;
    color:black;
}